* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
  /* soft reset do css */

body {
   background: #cccccc;
   font-family: Arial;
   font-size: 12px;
  }
 
  /* Se a tela tiver pelo menos 4000px, vai carregar estes estilos*/

  @media (min-width: 400px) {
   body {
       font-size: 14px;
   }
      }
   
      @media (min-width: 600px) {
       body {
           font-size: 16px;
       }
   }

header {
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

 .menu {
   width: 100vw;
   background-color: #ebebeb;
   position: fixed;
   top: 0;
 }

 .menu ul {
   display: flex;
   justify-content: space-around;
 }
 
 .menu li {
   list-style: none;
 }
  .menu a:active,
  .menu a {
   display: block;
   padding: 10px 20px;
   transition: background-color 1s, color 0.3s;
}

.menu a:hover {
  background-color: rgb(5, 172, 155);
  color: white;
}

 a {
   color: rgb(5, 172, 155);
   text-decoration: none;
 }
 
 a:hover {
   text-decoration: underline;
 }
 
.titulo {
  transform: scale(.2) translateY(35vh);
  opacity: 0;
  animation: ease 1s animacaotitulo forwards;
}

@keyframes animacaotitulo {

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

 .site-title {
   color:   rgb(58, 58, 58);
   text-align: center;
   font-variant-caps: all-small-caps;
 }
 
 .site-subtitle {
   color: slategrey;
   text-transform: uppercase;
   text-align: center;
   font-variant-caps: 'Montserrat', sans-serif;
 }
 
 .site-title {
     font-size: 5em;
     text-shadow: 0px 0px 3px rgba(0, 255, 179, 0.8)
 }

 .site-subtitle {
   font-size: 1.3em;
}

.contato,
.artes {
  padding: 2em;
  height: 100vh;
}

.contato {
  color: slategrey;
  margin-bottom: 1em;
  font-size: 1.5em;
  }


.artes h2 {
  color: slategrey;
  margin-bottom: 1em;
  font-size: 2.5em;
}

.portfolio figure {
  text-align: center;
}

.artes .grid {
  display: grid;
  gap: 2em;
  text-align: center;
}

@media (min-width: 560px) {
  .artes .grid {
    grid-template-columns: 240px 240px; 
  }
}

@media (min-width: 880px) {
  .artes .grid {
    grid-template-columns: repeat(3, 260px); 
    align-content: center;
    justify-content: center;
  }
}

 .img-portfolio {
   width: 180px;
   height: 240px;
   object-fit: cover;
   transition: transform 0.6s;
}
@media (min-width: 1200px) {
  .img-portfolio {
    width: 100%;
    height: auto;
 }
}

.img-portfolio:hover {
  transform: scale(1.4);

}

.contato a {
  color: #4f5453;
  font-size: 2.5em;
}

.contato :active,
.contato a:hover {
  text-decoration: none;
  transition: text-shadow 0.5s;
  text-shadow: 0px 0px 3px rgba(0, 255, 179, 0.8)
  
}

.contato .icons {
  text-align: center;
}
